<!DOCTYPE html>
<html lang="fr-fr">

  {% include head.html %}

  <body class="theme-base-0d sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Accueil">{{ site.name | upcase }}</a>
            <small><a href="/doc/">Apprendre</a> | <a href="/about/">À propos</a> | <a href="/contact/">Contact</a> </small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script type="text/javascript">
        var pkBaseURL = document.location.protocol + "//" + "analytics.monitoring-fr.org" + "/";
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
        piwikTracker.setDocumentTitle(document.title);
        piwikTracker.trackPageView();
              piwikTracker.enableLinkTracking();
              } catch( err ) {}
    </script>

    <!-- build:js(app) /assets/js/main.js -->
    <!-- endbuild -->

  </body>
</html>
