---
layout: default
title: Accueil
---

 <div class="p-head">
  <h1><a href="/about/">Le site de démo des CMS en langue française</a></h1>
 </div>
<div class="p-con"><p>Ce site a été créé pour aider les personnes qui souhaitent choisir une plateforme de publication online en leur permettant de <a href="/demo/">tester, utiliser les meilleurs sytèmes</a> disponibles en français et en Open Source.</p>
<p>Il faut <a href="/wp-login.php?action=register">créer un compte sur cms-fr.net</a> pour pouvoir <a href="/about/authentification-demo/">accéder à l'espace de démonstration.</a></p></div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Plus ancien</a>
  {% else %}
    <span class="pagination-item older">Plus ancien</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Plus récent</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Plus récent</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Plus récent</span>
  {% endif %}
</div>

